/* start global value */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --hover-color: #fafafa;
  --main-padding: 100px;
  --border-color: #e9e6e6;
  --section-background: #ececec;
  --p-color: #777;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--border-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
/* end global value */

/* start main-title */
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.spike {
  position: relative;
}
.spike::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  right: 0;
  z-index: 1;
  background-image: linear-gradient(225deg, white 25%, transparent 25%),
    linear-gradient(130deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
.dots {
  background-image: url(../images/dots.png);
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
@media (max-width: 1500px) {
  .dots {
    display: none;
  }
}
/* end main-title */

/* start header */
header {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .main-logo {
  font-size: 25px;
  font-weight: 800;
  color: var(--main-color);
  height: 73.56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header .main-logo {
    width: 100%;
    height: 50px;
  }
}
header .nav {
  display: flex;
}
@media (max-width: 767px) {
  header .nav {
    margin: auto;
  }
}
header .nav > li > a {
  height: 73.56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
  overflow: hidden;
  padding: 0 30px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  header .nav > li > a {
    padding: 10px;
    height: 50px;
  }
}
header .nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
header .nav > li > a:hover {
  color: var(--main-color);
  background-color: var(--hover-color);
}
header .nav > li > a:hover::before {
  left: 0%;
}

/* start mega menu */
header .mega-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  background-color: white;
  width: 100%;
  border-bottom: 4px solid var(--main-color);
  z-index: -1;
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    align-items: flex-start;
    top: 100%;
  }
}
header .mega-menu .image img {
  max-width: 100%;
  padding: 30px;
}
@media (max-width: 991px) {
  header .mega-menu .image {
    display: none;
  }
}
header .mega-menu .links {
  min-width: 240px;
}
@media (max-width: 767px) {
  header .mega-menu .links {
    min-width: 100%;
  }
}
header .mega-menu .links li {
  position: relative;
}
header .mega-menu .links li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: var(--hover-color);
  z-index: -1;
  left: 0;
  top: 0;
  transition: var(--main-transition);
}
header .mega-menu .links li:hover::before {
  width: 100%;
}
header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
@media (max-width: 767px) {
  header .mega-menu .links li {
    border-bottom: 1px solid var(--border-color);
  }
}
header .mega-menu .links li a {
  display: block;
  color: var(--main-color);
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
}
header .mega-menu .links li a i {
  margin-right: 10px;
}
.mega-menu-open {
  z-index: 100 !important;
  top: 100% !important;
  opacity: 1 !important;
}
/* end mega menu */
/* end header */

/* start landing */
.landing {
  position: relative;
}
.landing .up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  right: 15px;
  bottom: -40px;
  color: white;
  background-color: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  transition: var(--main-transition);
}
.landing .show {
  bottom: 15px;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewy(-6deg);
  top: -25px;
  left: 0;
  transform-origin: top left;
}
.landing .container {
  height: calc(100vh - 73.55px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 45px;
  letter-spacing: -2px;
  margin-bottom: 10px;
}
.landing .text p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  color: #666;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 30px;
  }
  .landing .text p {
    font-size: 15px;
  }
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}
.landing .go-down {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  font-size: 25px;
  animation: bouncing 1.5s infinite linear;
}

/* end landing */

/* start articles */
.articles {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .container .box {
  border-radius: 6px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  overflow: hidden;
  transition: var(--main-transition);
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .box img {
  width: 100%;
  max-width: 100%;
}
.articles .container .box .text {
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
}
.articles .container .box .text h3 {
  margin: 0;
}
.articles .container .box .text p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: var(--p-color);
}
.articles .container .box .more {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .container .box .more a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .box .more i {
  color: var(--main-color);
}
.articles .container .box:hover i {
  animation: arrow 0.6s linear infinite;
}
/* end articles */

/* start gallery */
.gallery {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .box {
  padding: 15px;
  background-color: white;
}
.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .container .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgb(255 255 255 / 20%);
  opacity: 0;
  z-index: 2;
}
.gallery .container .box .image:hover::before {
  animation: flash 0.7s;
}
.gallery .container .box .image img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .container .box .image:hover img {
  transform: rotate(3deg) scale(1.1);
}
/* end gallery */

/* start features */
.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  border: 1px solid var(--border-color);
  text-align: center;
}
.features .box .image {
  position: relative;
  overflow: hidden;
}
.features .box .image::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .quality .image::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .time .image::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .passion .image::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .box .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 180px 400px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .box:hover .image::after {
  border-width: 0px 400px 205px 0;
}
.features .box .image img {
  max-width: 100%;
}
.features .box .text h2 {
  font-size: 40px;
  margin: 0 auto;
  position: relative;
  width: fit-content;
}
.features .box .text h2::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 30px);
}
.features .quality .text h2::after {
  background-color: #f44036;
}
.features .time .text h2::after {
  background-color: #009688;
}
.features .passion .text h2::after {
  background-color: #03a9f4;
}
.features .box .text p {
  color: var(--p-color);
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  font-weight: 400;
  padding: 20px;
}
.features .box a {
  font-weight: bold;
  display: block;
  padding: 10px 30px;
  margin: 0 auto 40px;
  font-size: 20px;
  border: 3px solid;
  width: fit-content;
  border-radius: 6px;
  text-transform: capitalize;
  transition: var(--main-transition);
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a {
  background-position: left bottom;
  color: white;
}
/* end features */

/* start testimonials */
.testimonials {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .box {
  background-color: white;
  padding: 20px;
  position: relative;
  box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 10%);
}
.testimonials .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--section-background);
}
.testimonials .box h3 {
  margin: 0 0 10px;
}
.testimonials .box span {
  display: block;
  margin: 0 0 10px;
  color: var(--p-color);
}
.testimonials .box .filled {
  color: #ffc107;
}
.testimonials .box p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: var(--p-color);
}
/* end testimonials */

/* start team member */
.team-members {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 35px;
}
.team-members .box {
  position: relative;
  transition: var(--main-transition);
}
.team-members .box:hover {
  transform: translateY(-10px);
}
.team-members .box::before,
.team-members .box::after {
  content: "";
  position: absolute;
  background-color: #f3f3f3;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 10px;
  transition: var(--main-transition);
}
.team-members .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team-members .box::after {
  width: 0;
  z-index: -1;
  background-color: #e4e4e4;
}
.team-members .box:hover::after {
  width: calc(100% - 60px);
}
@media (max-width: 767px) {
  .team-members .box::before {
    width: 100%;
  }
  .team-members .box:hover::after {
    width: 100%;
  }
}
.team-members .box .content {
  padding-top: 60px;
  display: flex;
  align-items: center;
}
.team-members .box .content img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}
.team-members .box:hover .content img {
  filter: grayscale(80%);
}
@media (max-width: 767px) {
  .team-members .box .content img {
    margin-left: 10px;
  }
}
.team-members .box .content .icon {
  width: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.team-members .box .content .icon a {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-members .box .content .icon i {
  color: var(--p-color);
  transition: var(--main-transition);
}
.team-members .box .icon a:hover i {
  color: var(--main-color);
}
.team-members .box .text {
  padding-left: 80px;
}
@media (max-width: 767px) {
  .team-members .box .text {
    text-align: center;
    padding-left: 0;
  }
}
.team-members .box .text h3 {
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 22px;
  margin: 15px 0 0;
}
.team-members .box:hover .text h3 {
  color: var(--p-color);
}
.team-members .box .text p {
  color: var(--p-color);
  margin: 10px 0 20px;
}
/* start team member */

/* star services */
.services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  position: relative;
  text-align: center;
  background-color: white;
  box-shadow: 0px 1px 10px 2px rgb(0 0 0 / 16%);
  transition: var(--main-transition);
  counter-increment: service;
}
.services .box::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  height: 0;
  width: 0;
  transition: var(--main-transition);
}
.services .box:hover::before {
  height: 3px;
  width: 100%;
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box i {
  color: #d5d5d5;
  margin: 35px auto 25px;
}
.services .box h3 {
  color: var(--main-color);
  font-size: 25px;
  margin: 0 auto 30px;
}
.services .box .bar {
  position: relative;
  padding: 15px;
  overflow: hidden;
  background-color: #f9f9f9;
}
.services .box .bar::before {
  content: "0" counter(service);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  background-color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
.services .box .bar::after {
  content: "";
  position: absolute;
  left: 80px;
  top: 0px;
  height: 101%;
  width: 50px;
  background-color: #d5d5d5;
  transform: skew(-25deg);
}
.services .box .bar a {
  display: flex;
  justify-content: flex-end;
  color: var(--main-color);
}
/* end services */

/*start our skills */
.our-skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.our-skills .container {
  display: flex;
}
@media (max-width: 991px) {
  .our-skills img {
    display: none;
  }
}
.our-skills .skills {
  /* flex: 1; */
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .our-skills .skills {
    flex-basis: 100%;
  }
}
.our-skills .content h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.our-skills .bar {
  width: 100%;
  height: 30px;
  background-color: #eee;
}
.our-skills .content span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  width: 0;
  transition: 0.6s;
  position: relative;
}
.our-skills .content span::after {
  content: attr(data-progress);
  position: absolute;
  right: 0;
  top: -31px;
  width: 30px;
  height: 20px;
  border: 1px solid #ccc9c9;
  border-radius: 3px;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*end our skills */

/* start questions */
.questions {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-background);
}
.questions .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
@media (max-width: 991px) {
  .questions .container {
    flex-direction: column;
  }
}
.questions .container .image {
  max-width: 100%;
}
.questions .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 1px solid white;
  position: relative;
  z-index: 1;
}
.questions .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: #ededed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--main-transition);
  z-index: -1;
}
.questions .box:hover::before {
  width: 100%;
  height: 100%;
}
.questions .box img {
  width: 64px;
  margin-right: 30px;
}
.questions .box h3 {
  font-size: 22px;
  margin: 0;
}
.questions .box p {
  color: var(--p-color);
  line-height: 1.6;
  margin: 10px 0 0;
  font-size: 18px;
}
/* end questions */

/* start events */
.Events {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.Events .container {
  display: flex;
  flex-wrap: wrap;
}
.Events .container .Event {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.Events .Event img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .Events .Event img {
    display: none;
  }
}
.Events .Event .content {
  flex: 1;
  text-align: center;
}
.Events .Event .time {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}
@media (max-width: 771px) {
  .Events .Event .time {
    gap: 10px;
    margin-bottom: 40px;
  }
}
.Events .Event .box {
  display: flex;
  border: 1px solid rgb(0 0 0 / 20%);
  flex-direction: column;
  border-radius: 6px;
  transition: var(--main-transition);
}
.Events .Event .box span {
  transition: var(--main-transition);
}
.Events .Event .box span:first-child {
  padding: 30px 20px;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  text-align: center;
  color: var(--main-color);
  font-size: 35px;
}
.Events .Event .box span:last-child {
  padding: 7px 10px;
  font-size: 14px;
}
.Events .Event .box:hover,
.Events .Event .box:hover span:first-child {
  border-color: var(--main-color);
}
.Events .content h2 {
  margin: 0 auto 25px;
  font-size: 30px;
}
.Events .content p {
  margin: 0 auto;
  line-height: 1.6;
  font-size: 20px;
  color: var(--p-color);
}
@media (max-width: 771px) {
  .Events .content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.Events .subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Events .subscribe form {
  width: 600px;
  background-color: #f6f5f5;
  display: flex;
  gap: 20px;
  padding: 25px 40px;
  border-radius: 50px;
}
@media (max-width: 771px) {
  .Events .subscribe form {
    width: 380px;
    flex-direction: column;
    border-radius: 10px;
  }
}
.Events .subscribe input[type="email"] {
  padding: 20px;
  border-radius: 40px;
  flex-basis: 80%;
  border: none;
  color: var(--main-color);
  caret-color: var(--main-color);
}
.Events .subscribe input[type="submit"] {
  padding: 20px;
  border-radius: 40px;
  color: white;
  background-color: var(--main-color);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  flex-basis: 20%;
  transition: var(--main-transition);
}
@media (max-width: 771px) {
  .Events .subscribe input[type="email"],
  .Events .subscribe input[type="submit"] {
    border-radius: 10px;
  }
}
.Events .subscribe input[type="email"]:focus {
  outline: none;
}
.Events .subscribe input[type="email"]:focus::placeholder {
  opacity: 0;
}
.Events .subscribe input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}
.Events .subscribe input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* end events */

/* start price */
.Pricing {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-background);
}
.Pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.Pricing .box {
  position: relative;
  background-color: white;
  text-align: center;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  z-index: 1;
}
.Pricing .box::before,
.Pricing .box::after {
  content: "";
  position: absolute;
  background-color: #f6f6f6;
  width: 0;
  transition: var(--main-transition);
  z-index: -1;
}
.Pricing .box::before {
  height: 52%;
  top: 0;
  left: 0;
}
.Pricing .box::after {
  right: 0;
  bottom: 0;
  height: 48%;
}
.Pricing .box:hover::before,
.Pricing .box:hover::after {
  width: 100%;
}
@media (min-width: 1200px) {
  .Pricing .box:nth-of-type(2) {
    transform: translateY(-15px);
  }
}
.Pricing .box .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
}
.Pricing .box .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 20px;
}
.Pricing .box:hover .label::before {
  border-color: transparent transparent #f6f6f6 transparent;
  transition-delay: 0.2s;
}
.Pricing .box h3 {
  margin: 30px auto 30px;
  font-size: 25px;
  letter-spacing: -1px;
}
.Pricing .box img {
  width: 80px;
  margin-bottom: 25px;
}
.Pricing .box .price {
  margin: 0 auto 25px;
}
.Pricing .box span {
  display: block;
}
.Pricing .box .amount {
  color: var(--main-color);
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}
.Pricing .box span:last-child {
  color: var(--p-color);
}
.Pricing .box ul {
  text-align: start;
}
.Pricing .box ul li {
  padding: 20px;
  border-top: 1px solid var(--border-color);
}
.Pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: bolder;
  color: var(--main-color);
}
.Pricing .box .choose a {
  display: block;
  width: fit-content;
  margin: 30px auto 30px;
  border: 2px solid var(--main-color);
  padding: 15px 20px;
  border-radius: 6px;
  color: var(--main-color);
  font-weight: bold;
  transition: var(--main-transition);
}
.Pricing .box .choose:hover a {
  color: white;
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
}
/* End price */

/* start video */
.Videos {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.Videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .Videos .holder {
    flex-direction: column;
  }
}
.Videos .holder .list {
  min-width: 300px;
  background-color: white;
}
.Videos .holder .list .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: 700;
}
.Videos .holder .list li {
  padding: 20px;
  border-top: 1px solid var(--border-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.Videos .holder .list li span {
  display: block;
  margin-top: 10px;
  color: var(--p-color);
}
.Videos .holder .list li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.Videos .preview {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Videos .preview img {
  max-width: 100%;
}
.Videos .preview .info {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}
/* end video */

/* start stats */
.stats {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-image: url(../images/stats.jpg);
  background-size: cover;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
  text-align: center;
  font-size: 40px;
  position: relative;
  margin: 0 auto 50px;
}
.stats .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.stats .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  width: 270px;
  opacity: 0.8;
  position: relative;
}
.stats .box::before,
.stats .box::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  background-color: var(--main-color);
  transition: calc(var(--main-transition) + 0.7s);
}
.stats .box::before {
  bottom: 0;
  left: 0;
}
.stats .box::after {
  right: 0;
  top: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box i {
  margin: 0 auto 10px;
}
.stats .box span {
  display: block;
  font-weight: bold;
}
.stats .box .number {
  font-size: 50px;
  margin: 0 auto 10px;
}
.stats .box .info {
  font-size: 20px;
  color: var(--main-color);
  font-style: italic;
}
/* end stats */

/* start discont */
.Discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .Discount {
    flex-direction: column;
  }
}
.Discount .image {
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
.Discount .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
.Discount .image img {
  width: 300px;
  max-width: 100%;
}
.Discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}
.Discount .form .input {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.Discount .form textarea.input {
  resize: none;
  height: 200px;
}
.Discount .form .input:focus {
  outline: none;
}
.Discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  color: white;
  background-color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--main-transition);
}
.Discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.Discount .content {
  text-align: center;
  padding: 0 20px;
}
.Discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
@media (max-width: 991px) {
  .Discount .content h2 {
    margin-top: 40px;
  }
}
.Discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
/* end discont */

/* start footer */
footer {
  background-color: #191919;
  padding-top: 65px;
}
@media (max-width: 771px) {
  footer {
    text-align: center;
  }
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
footer .box h3 {
  font-size: 30px;
  margin: 0px auto 20px;
  color: white;
}
footer .box .social a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-right: 10px;
  transition: var(--main-transition);
}
@media (max-width: 771px) {
  footer .box .social a {
    margin-right: 0;
  }
}
footer .box .social a:hover {
  background-color: var(--main-color);
}
footer .box p.text {
  color: #b9b9b9;
  line-height: 2;
  margin: 20px 0 0;
}
footer .box ul li {
  padding: 15px 0;
  color: var(--main-color);
  transition: var(--main-transition);
}
footer .box ul li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .box ul li::before {
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  margin-right: 10px;
  font-size: 14px;
}
footer .box ul li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
footer .box ul li:hover a {
  transform: translateX(7px);
  color: white;
}
footer .box ul li:hover {
  padding-left: 10px;
}
footer .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 771px) {
  footer .line {
    flex-direction: column;
  }
}
footer .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 12px;
}
@media (max-width: 771px) {
  footer .line i {
    margin: 0 0 10px;
  }
}
footer .line .info {
  line-height: 1.6;
}
footer .line .info span {
  display: block;
}
footer .footer-images {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 4px;
}
footer .footer-images img {
  width: 78px;
  max-width: 100%;
  border: 2px solid white;
  margin: 2px;
  transition: var(--main-transition);
}
footer .footer-images img:hover {
  transform: translateY(-1px);
}
footer .copyright {
  display: block;
  text-align: center;
  color: white;
  border-top: 1px solid #444;
  padding: 25px;
  margin: 40px 0 0;
}
/* end footer */

/* start animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(10px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes arrow {
  100% {
    transform: translateX(8px);
  }
}
@keyframes flash {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-background {
  40%,
  80% {
    background-image: url(../images/discount-background2.jpg);
  }
}
/* end animation */
